services:
  service-pluginsworld-go-template-server:
    platform: linux/amd64
    build:
      context: ./web-server
      dockerfile: Dockerfile
    image: "ccr.ccs.tencentyun.com/pluginsworld/service-pluginsworld-go-template-server:${BUILD_NUMBER}"
    command: sh -c "go install github.com/air-verse/air@v1.52.3 && air -c .air.toml"
    volumes:
      - ./web-server:/app
    ports:
      - '${APP_PORT:-30001}:3000'
    extra_hosts:
        - 'host.docker.internal:host-gateway'

  # service-pluginsworld-go-template-mobile:
  #   platform: linux/amd64
  #   build: "./web-mobile"
  #   image: "ccr.ccs.tencentyun.com/pluginsworld/service-pluginsworld-go-template-mobile:${BUILD_NUMBER}"
  #   ports:
  #     - "30002:80"
